@import "tailwindcss";

@theme {
    --color-primary: #424242;
    --color-sub-primary: #616161;
    --color-secondary: #ffed4a;
    --color-accent: #38b2ac;
    --color-dark: #2d3748;
    --color-light: #ffffff;
    --color-warning: #f44336;
}

@layer base {
    body {
        @apply bg-light text-dark;
    }
}
